/* 全局样式表 */
html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
    color: black;
    font-size: 18px;
}

a {
    list-style: none;
    color: black;
    font-size: 18px;
    text-decoration: none;
}

input {
    font-size: 18px;
    outline: none;
    border: none;
}

input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button{
        -webkit-appearance: none !important;
        margin: 0;
    }

button {
    outline: none;
}